<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>基金管理</title>
    {% load static %}
    <script type="text/javascript" src="/static/jquery/jquery-3.7.1.js"></script>
    <link  rel="stylesheet" href="/static/css/picnic.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body>
 <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

        <span class="fs-4">基金数据观测</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/fund_manage/" class="nav-link active">基金管理</a></li>
      </ul>
    </header>
  </div>
 <div class="container-fluid">

    <div>
        <button type="button" class="btn btn-primary" data-bs-target="#myModal" data-bs-toggle="modal">新增</button>
    </div>
<br>
     <table>
        <thead>
        <tr class="table-light">
            <th>基金编号</th>
            <th>基金名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for fund in fund_list %}
            <tr>
                <td>{{ fund.fund_code }}</td>
                <td>{{ fund.fund_code_zh }}</td>
                <td>
                    <a href="/fund_list_del/{{ fund.fund_code }}/" >删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="modal fade"  id="myModal" aria-labelledby="myModallabel"  aria-hidden="true" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="myModallabel">新增基金信息</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="formData" class="form-horizontal" action="/fund_list_add/" method="post">
        <div class="modal-body">

            <div class="mb-3">
            <label class="form-label" >基金编号：</label>
            <input type="number" required value="" name="fundcode" placeholder="六位基金编号" class="form-control"></br>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary" >保存</button>
        </div>
        </form>
    </div>
</div>
</div>






</body>



</html>