<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    {% load static %}
    <script src="static/jquery/jquery-3.7.1.js"></script>
    <link  rel="stylesheet" href="static/css/picnic.min.css">
    <script>
        $(document).ready(function(){
            $.ajax({
            url:"/data-refresh/",
            success:function (data) {
                $("#tableHead").text("基金编码："+data.fundCode)
                $("#tablePart").html(data.fundData)
            }
            })});
    </script>
</head>

<body>



<h1 style="font-size: xx-large" >基金涨跌实时数据</h1>
<h2 id="tableHead" class="label" style="font-size: large"></h2>
<div class="primary" id='tablePart' style="overflow-x: scroll; overflow-y: hidden;font-size: small">


</div>





</body>
</html>