<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    {% load static %}
    <script src="static/jquery/jquery-3.7.1.js"></script>

    <script>
    $("#sub").click(function () {
        $.ajax({
            url:"/ajax-add/",  // 请求路由, 向ajax-add地址发送请求
            method:"post",     // 请求方式, 可以指定多种请求方式, 这里使用post请求
            data:{             // 请求携带数据,
                con1:$("#cont1").val(),  // 根据标签中的id取值
                con2:$("#cont2").val()
            },
            success:function (data) {   // 成功后执行该函数, 否则不执行
                $("#total").val(data.msg) // 给id为total标签添加请求成功后返回数据
            }
        })
    })
    </script>
</head>
<body>
<div>
    <input type="text" id="cont1"> +
    <input type="text" id="cont2"> =
    <input type="text" readonly id="total">
</div>
<br>
<input type="submit" class="btn-primary" id="sub">
</br>

</body>
</html>