<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基金管理</title>
    {% load static %}
    <script type="text/javascript" src="/static/jquery/jquery-3.7.1.js"></script>
    <link  rel="stylesheet" href="/static/css/picnic.min.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>
<body><header class="navbar navbar-expand-lg bd-navbar sticky-top">
21312


</header>

</body>
</html>